
a
{
    font-weight: bold;
    white-space: nowrap;
    color: rgb(0, 102, 204);
}
#back
{
    position: absolute;
    top: 0;
    left: 0;
}
#complete
{
    width: 50px;
    height: 50px;
}
.status
{
    white-space: nowrap;
}
.good 
{
    color: green;
}
.bad
{
    color: red;
}
